<table>
<% record.fields.each do | field, value | %>
  <% unless Record.special_fields.include?(field) %>
    <tr>
       <td><%= Record.field_codes[field.to_i] %></td>
       <td><%= value %></td>
    </tr>
  <% end %>
<% end %>
</table>
