<% title @chair.name %>

<p><%= link_to t("title.manage/specialities.index"), manage_chair_curriculums_path(@chair) %></p>

<p><%= link_to t("title.manage/employees.index"), manage_chair_employees_path(@chair) %></p>

<p><%= link_to t("title.manage/publications.index"), manage_chair_publications_path(@chair) %></p>

<p><%= link_to t("title.manage/provided_specialities.index"), manage_chair_provided_specialities_path(@chair) %></p>

