<% title @chair.name %>

<p><%= link_to 'Специальности и направления подготовки', manage_chair_specialities_path(@chair) %></p>
<p><%= link_to 'Добавить персональную информацию(?)', manage_humans_path(@human) %></p>

