<% title @chair.name %>

<p><%= link_to "Специальности и направления подготовки", manage_chair_specialities_path(@chair) %></p>

<p><%= link_to 'Сотрудники', manage_chair_employees_path(@chair) %></p>

<p><%= link_to 'Учебно-методическое обеспечение', manage_chair_publications_path(@chair) %></p>

