<% title @chair.name %>

<h2>Специальности и направления подготовки</h2>
<% @chair.specialities.each do |speciality| %>
  <p><%= link_to speciality.name, manage_chair_speciality_path(speciality.chair, speciality) %></p>
<% end %>
<p><%= link_to "Добавить специальность", new_manage_chair_speciality_path(@chair) %></p>

<p><%= link_to 'Сотрудники', manage_chair_teachers_path(@chair) %></p>
