attachments

.bundle
bin/
vendor/cache/

db/*.sqlite3
log/*

tmp/**/*
tmp/*
.rake_tasks~
*.swp
.redcar
*.pdf
!spec/data/plan-210400.pdf

.sass-cache
*.css

config/database.yml
config/settings.yml
config/sunspot.yml

config/initializers/secret_token.rb

solr/data/

.ruby-version
