<% resource.aasm_events_for_current_state.each do |event| %>
  <li class="event_button_and_resource_state">
   <p class="resource_state_<%= resource.state %>">
    <%= resource.human_state %>
   </p>
   <%= link_to resource.class.human_event_name(event),
               transit_resource_path(:event => event),
               :class => "button", :method => :put %>
  </li>
<% end %>

