<span class="content">
    <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
    </div>
    <div class="field">
    <%= f.label :month %><br />
    <%= f.text_field :month %>
    </div>
</span>

