
<div class="publication_wrapper">

    Год: <%= @disk.year  %>
    Месяц: <%=  @disk.month  %>
    Создано: <%= @disk.created_at  %>
    <li><%=link_to t(:back), disks_path, :class => "button light" %></li>

</div>

