<% title @disk.title %>

<% @disk.issues.each do | issue | %>

<h3><%= link_to issue.data_file_name, manage_disk_issue_records_path(@disk, issue), :class => 'button light'%></h3>

<% end %>

<%= link_to t(:back),  disks_path, :class => 'button light' %>

