<% title @publication.title %>

<div class="publication">
  <%= render :partial => "/common/resource", :locals => { :resource => @publication } %>

  <% unless @publication.content.nil?  %>
    <div class="additional expander">
      <h4><a href="#" class="expand_link">Содержание</a></h4>
      <div>
        <%= @publication.send(:content).blank? ? simple_format("не указано") : simple_format(@publication.send(:content).gilensize) %>
      </div>
    </div>
  <% end %>

  <div class='disciplines expander'>
    <h4><a href="#" class='expand_link'>Изучаемые дисциплины</a></h4>
    <% unless @publication.publication_disciplines.empty? %>
      <ul>
        <% @publication.grouped_disciplines.each do |speciality, publication_disciplines|  %>
          <li>
            <%= raw publication_disciplines.map(&:discipline).map{ |discipline| content_tag(:i, discipline.name) }.join(', ') %>
            <%= raw "для специальности #{content_tag :b, speciality.title}" %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>Не связано ни с одной дисциплиной.</p>
    <% end %>
  </div>
</div>

