<% title @chair.self_with_abbr %>

<ul class="cool_list">
  <li>
    <h4><%= link_to t("title.curriculums.index"), specialities_path(:chair_id => @chair.id) %></h4>
    <p>Тут находится список специальностей, которым обучают на данной кафедре.</p>
  </li>

  <li>
    <h4><%= link_to t("title.employees.index"), humans_path(:chair_id => @chair.id) %></h4>
    <p></p>
  </li>

  <li>
    <h4><%= link_to t("title.publications.index"), publications_path(:chair_id => @chair.id) %></h4>
    <p></p>
  </li>
</ul>

