<% if current_user && !current_user.has_been_started? %>
  <div class="get_started">
    <ul>
      <li <%= "style='text-decoration: line-through;'" if current_user.human.filled? %> >
        <p><%= link_to 'Заполните', edit_human_path %> Ваш профиль.</p>
      </li>

      <li>
        <p><%= link_to 'Уточните Ваш статус', human_path %> в ТУСУРе.</p>
      </li>

      <li>
        <p>Узнайте больше <a href='#'>о портале.</a></p>
      </li>

    </ul>
  </div>
<% end %>

