<% if current_user && !current_user.has_been_started? %>
  <div class="get_started">
    <ul>
      <li><a href='#'>Заполните</a> Ваш профиль.</li>
      <li><a href='#'>Отправьте заявку,</a> для выбора роли.</li>
      <li>Узнайте больше <a href='#'>о портале.</a></li>
    </ul>
  </div>
<% end %>

