<p><%= resource.title %></p>

<%= show_for resource do | s | %>
  <% unless resource.protected_children.empty? %>
    С этим объектом связаны:
    <% resource.protected_children.each do |attribute| %>
      <ul class="protected_children">
        <% s.association attribute.to_sym do | object | %>
          <li><%= object.title %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>

