<li>
  <%= "#{teacher.post} каф.#{teacher.chair.abbr} &ndash; ".html_safe + I18n.t("role.#{teacher.state}") %>
  <% if current_user.roles.include?(:admin) %>
    <%= link_to t(:edit), edit_manage_role_path(teacher), :class => :button if can? :manage, teacher %>

    <% unless teacher.aasm_events_for_current_state.empty? %>
        <% teacher.aasm_events_for_current_state.each do |event| %>
            <%= link_to(t("role.#{event}"), transit_manage_role_path(teacher,
                                                    :event => event),
                                                    :class => "event button light",
                                                    :method => :put) %>
        <% end %>
    <% end %>

  <% else %>
    <%= link_to t(:edit), edit_human_roles_teacher_path(teacher), :class => :button %>
  <% end %>
</li>

