<li>
  <%= "#{teacher.title} каф.#{teacher.chair.abbr} &ndash; ".html_safe + I18n.t("role.#{teacher.state}") %>
  <%= link_to t(:edit), edit_manage_role_path(teacher) if can? :manage, teacher %>
</li>

