<% title @chair.self_with_abbr %>

<ul class="cool_list">
  <li>
    <h4><%= link_to t("title.employees.index"), humans_path(:chair_id => @chair.id) %></h4>
    <p>Список зарегистрированных студентов и преподавателей кафедры. Пользователь имеет
возможность ознакомиться с учебно-методическим обеспечением, авторами которого
являются преподаватели кафедры.</p>
  </li>

  <li>
    <h4><%= link_to t("title.publications.index"), publications_path(:chair_id => @chair.id) %></h4>
    <p>В разделе собраны учебно-методические и учебные пособия, рабочие программы, авторами
которых являются преподаватели кафедры.</p>
  </li>
</ul>

