<li class="nested-fields">
  <ol>
    <%= f.input :semester, :as => :select %>
    <%= f.input :examinations, :as => :check_boxes %>
    <%= link_to_remove_association t(:delete), f %>
  </ol>
</li>

