<% if resource.attachment %>
  <%= show_for resource do |resource_fields| %>
    <%= resource_fields.attributes :year %>
  <% end %>
  <p><%= link_to "скачать #{resource.resource_name}", resource.attachment.data.url, :class => "#{resource.access} download" %></p>
<% end %>
