<% if current_user %>
<div class='get_started<%= ' finished' unless current_user && !current_user.has_been_started? %>'>
  <ul>
    <% unless current_user.human.new_record? %>
      <li class='done'>
        <span>1.</span>
        <p>Укажите свою фамилию, имя и отчество</p>
      </li>
    <% else %>
      <li>
        <span>1.</span>
        <p><%= link_to 'Укажите свою фамилию, имя и отчество', current_user.human.new_record? ? new_human_path : edit_human_path %></p>
      </li>
    <% end %>
    <li<%= " class='done'" unless current_user.human.roles.empty? %>>
      <span>2.</span>
      <p>Уточните Ваш статус в ТУСУРе</p>
    </li>
  </ul>
</div>
<% end %>

