<%= render :file => "shared/main_menu.html.erb" %>

<%= content_for :main_page do %>
  <div class="help_page">
    <h1>Помощь</h1>

    <h2><a name="howto_umo">Как разместить учебно-методическое обеспечение</a></h2>
    <p>Размещение на портале учебно-методических пособий, учебных пособий, руководств к выполнению лабораторных и контрольных работ, книг и т. п. происходит следующим образом.</p>
    <p>Заведующий кафедрой должен написать <a href="/office_memorandum.doc">служебную записку</a> и вместе с электронной копией издания в формате PDF отправить ее в Центр веб-технологий и информационных ресурсов (администрация портала) на e-mail <a href="mailto:openteam@tusur.ru">openteam@tusur.ru</a>. Администрация портала формирует краткое описание издания и регистрирует его в электронном каталоге, после чего подготавливает лицензионный договор и акт приема-передачи. Эти документы отправляются автору, который должен их подписать, указав свои контактные данные, и передать в ЦВТиИР (лично в ауд. 206 малого корпуса или через канцелярию (ауд. 116 главного корпуса)) для завершения процесса размещения.</p>
    <p>Ответственность за качество электронных изданий несет заведующий кафедрой.</p>

    <h2><a name="howto_curriculum">Как разместить учебный план или рабочую программу</a></h2>
    <p>Для размещения на портале файлы учебных планов и рабочих программ нужно отправлять в Центр веб-технологий и информационных ресурсов на e-mail <a href="mailto:openteam@tusur.ru">openteam@tusur.ru</a>.</p>

    <h2><a name="administration">Как связаться с администрацией</a></h2>
    <p><strong>Сайт:</strong> <a href="http://www.tusur.ru/ru/informatization/subdivision/cvtir/" target="_blank">OpenTeam</a></p>
    <p><strong>Email:</strong> <a href="mailto:openteam@tusur.ru">openteam@tusur.ru</a></p>
    <p><strong>Телефон:</strong> (382-2) 701-557, внутренний 1130</p>

  </div>
<% end %>

