<%= render :file => "shared/main_menu.html.erb" %>

<%= content_for :main_page do %>
  <div class="help_page">
    <h1>Помощь</h1>

    <h2><a name="howto_umo">Как разместить учебно-методическое обеспечение</a></h2>
    <p>Размещение на&nbsp;портале <span class="nobr">учебно-методических</span>пособий, учебных пособий, руководств к&nbsp;выполнению лабораторных и&nbsp;контрольных работ, книг <span class="nobr">и т. п.</span> происходит следующим образом.</p>
    <p>Заведующий кафедрой должен написать <a href="/office_memorandum.doc">служебную записку</a> и&nbsp;вместе с&nbsp;электронной копией издания в&nbsp;формате PDF отправить ее&nbsp;в&nbsp;<a href="http://www.tusur.ru/ru/informatization/subdivision/cvtir/" target="_blank">Центр <span class="nobr">веб-технологий</span> и&nbsp;информационных ресурсов</a> (администрация портала) на&nbsp;<span class="nobr">e-mail</span> <a href="mailto:openteam@tusur.ru">openteam@tusur.ru</a>. Администрация портала формирует краткое описание издания и&nbsp;регистрирует его в&nbsp;электронном каталоге, после чего подготавливает лицензионный договор и&nbsp;акт <span class="nobr">приема-передачи</span>. Эти документы отправляются автору, который должен их&nbsp;подписать, указав свои контактные данные, и&nbsp;передать в&nbsp;ЦВТиИР (лично в&nbsp;ауд. 206&nbsp;малого корпуса или через канцелярию (ауд. 116 главного корпуса)) для завершения процесса размещения.</p>
    <p>Ответственность за&nbsp;качество электронных изданий несет заведующий кафедрой.</p>

    <h2><a name="howto_curriculum">Как разместить учебный план или рабочую программу</a></h2>
    <p>Для размещения на&nbsp;портале файлы учебных планов и&nbsp;рабочих программ нужно отправлять в&nbsp;Центр <span class="nobr">веб-технологий</span> и&nbsp;информационных ресурсов на&nbsp;<span class="nobr">e-mail</span> <a href="mailto:openteam@tusur.ru">openteam@tusur.ru</a>.</p>

    <h2><a name="administration">Как связаться с администрацией</a></h2>
    <p><strong><a href="http://www.tusur.ru/ru/informatization/subdivision/cvtir/" target="_blank">Центр веб-технологий и информационных ресурсов ТУСУР</a></strong></p>
    <p><strong>E-mail:</strong> <a href="mailto:openteam@tusur.ru">openteam@tusur.ru</a></p>
    <p><strong>Телефон:</strong> (382-2) 701-557, внутренний 1130</p>

  </div>
<% end %>

