<% content_for :get_started do %>
  <%= render :partial => 'shared/has_been_started' %>
<% end %>

<%= render :file => "shared/main_menu.html.erb" %>

<%= content_for :main_page do %>
  <div class="help_page">
    <h1>Помощь</h1>

    <h2><a name="registration">Как зарегистрироваться на портале</a></h2>
    <p>Нажмите ссылку <%= link_to raw("&laquo;Регистрация&raquo;"), new_user_registration_path %> в&nbsp;правом верхнем углу страницы. Заполните все поля формы и&nbsp;нажмите кнопку &laquo;Зарегистрироваться&raquo;.</p>
<p>По&nbsp;завершении процедуры регистрации отредактируйте свои данные на&nbsp;странице профиля: укажите фамилию, имя и&nbsp;отчество. После указания этих данных вы&nbsp;сможете уточнить свой статус в&nbsp;ТУСУРе&nbsp;&mdash; добавить роль студента, магистранта, аспиранта или сотрудника. Для этого пройдите по&nbsp;соответствующей ссылке и&nbsp;укажите требуемую информацию. Обратите внимание: <strong>статус сотрудника утверждается только после вашего звонка</strong> администрации портала по&nbsp;тел. 701&ndash;557!</p>

    <h2><a name="howto_umo">Как разместить учебно-методическое обеспечение</a></h2>
    <p>Размещение на&nbsp;портале <span class="nobr">учебно-методических</span>пособий, учебных пособий, руководств к&nbsp;выполнению лабораторных и&nbsp;контрольных работ, книг <span class="nobr">и т. п.</span> происходит следующим образом.</p>
    <p>Заведующий кафедрой должен написать <a href="/office_memorandum.doc">служебную записку</a> и&nbsp;вместе с&nbsp;электронной копией издания в&nbsp;формате PDF отправить ее&nbsp;в&nbsp;<a href="http://www.tusur.ru/ru/informatization/subdivision/cvtir/" target="_blank">Центр <span class="nobr">веб-технологий</span> и&nbsp;информационных ресурсов</a> (администрация портала) на&nbsp;<span class="nobr">e-mail</span> <a href="mailto:openteam@tusur.ru">openteam@tusur.ru</a>. Администрация портала формирует краткое описание издания и&nbsp;регистрирует его в&nbsp;электронном каталоге, после чего подготавливает лицензионный договор и&nbsp;акт <span class="nobr">приема-передачи</span>. Эти документы отправляются автору, который должен их&nbsp;подписать, указав свои контактные данные, и&nbsp;передать в&nbsp;ЦВТиИР (лично в&nbsp;ауд. 206&nbsp;малого корпуса или через канцелярию (ауд. 116 главного корпуса)) для завершения процесса размещения.</p>
    <p>Ответственность за&nbsp;качество электронных изданий несет заведующий кафедрой.</p>

    <h2><a name="howto_curriculum">Как разместить рабочую программу</a></h2>
    <p>Для размещения на&nbsp;портале файлы рабочих программ нужно отправлять в&nbsp;Центр <span class="nobr">веб-технологий</span> и&nbsp;информационных ресурсов на&nbsp;<span class="nobr">e-mail</span> <a href="mailto:openteam@tusur.ru">openteam@tusur.ru</a>. Рабочие программы необходимо присылать в&nbsp;формате PDF.</p>

    <h2><a name="administration">Как связаться с администрацией</a></h2>
    <p><strong><a href="http://www.tusur.ru/ru/informatization/subdivision/cvtir/" target="_blank">Центр веб-технологий и информационных ресурсов ТУСУР</a></strong></p>
    <p><strong>E-mail:</strong> <a href="mailto:openteam@tusur.ru">openteam@tusur.ru</a></p>
    <p><strong>Телефон:</strong> (382-2) 701-557, внутренний 1130</p>

  </div>
<% end %>

