<%= render :file => "shared/main_menu.html.erb" %>

<%= content_for :main_page do %>
  <div class="main_page">
    <img src="/images/tusur.jpg" width="920px" height="262px" alt="Автор фотографии: Павел Синегубов" />
    <ul>
      <li>
        <h4>Что это?</h4>
        <p>Научно-образовательный портал &mdash; это ресурс, на котором будут публиковаться учебно-методические материалы, способные оказать помощь в образовательном процессе.</p>
      </li>

      <li>
        <h4>Для кого?</h4>
        <p>Научно-образовательный портал создан для студентов, магистрантов, аспирантов, а также сотрудников ТУСУР.</p>
      </li>

      <li class="last">
        <h4>Помощь</h4>
        <a href="#">Как разместить публикацию?</a>
        <a href="#">Как разместить ученый план?</a>
        <a href="#">Как связаться с администрацией?</a>
      </li>
    </ul>
    <p class="greetings_text">
      Научно-образовательный портал состоит из 5 основных разделов: «Для учёбы», «Для
      науки», «Наши кафедры», «Наши люди», «Наша библиотека». Портал содержит ресурсы и
      ссылки на ресурсы по необходимым предметам. Одной из основных задач портала является
      предоставление доступа к структурированной базе предметных разработок: учебным планам,
      учебно-методическому обеспечению, электронному расписанию занятий, а также текущей
      успеваемости студентов. Портал позволяет получить реальную помощь в процессе обучения.
      <br />
      Для того чтобы полноценно пользоваться всеми ресурсами портала, необходимо
      зарегистрироваться. Зарегистрированный пользователь имеет доступ к полной учебно-
      методической базе, а также возможность отслеживать в личном кабинете свой учебный план
      и расписание занятий в соответствии со специальностью или направлением.
      <br />
      Регистрация осуществляется по одной из форм в зависимости от тех возможностей,
      которые требуются пользователю. В настоящее время существует несколько типов
      пользователей: студент, магистрант, аспирант, сотрудник.
    </p>
  </div>
<% end %>

