<ul class='cool_list'>
  <li>
    <h4 class='publications'>
      <%= link_to 'Учебно-методическое обеспечение', publications_path %>
    </h4>
    <ul>
      <% @publication_facets.each do |facet| %>
        <%= %>
        <li><%= link_to t("training.umo.#{facet.value}") + " (#{facet.count})", publications_path(:kind => facet.value) %></li>
      <% end %>
    </ul>
    <div class='search_form'>
      <%= render :partial => 'crud/publications/search_form' %>
    </div>
    <p>В&nbsp;этом разделе расположено <span class="nobr">учебно-методическое</span> обеспечение, доступное на&nbsp;данный момент. Для поиска необходимого ресурса введите название учебного пособия, код или наименование специальности.</p>
  </li>
</ul>

