.abstract
  .list
    li
      +clearfix
    .year
      font-family: 'DejaVu Sans Mono', 'Curier New', monospace
      font-size: 16px
    span
      float: left
      margin-right: 30px

.issues_list
  li
    list-style: decimal
    margin-left: 25px
    .info
      margin-bottom: 0
    .report
      color: #999
      font-size: 11px
    a
      +inline-block
      width: 16px
      height: 16px
      background: transparent url('../images/icon_delete.png') no-repeat
      text-indent: -9999em
      outline: none
      margin-left: 5px
