.abstract
  .main_subject
  .subject
    .subject_link
      float: left
  .updated_month
    float: right
  .record_wrapper
    table

      background-color: #eee
      tr
        .tipe
          width: 200px
          vertical-align: middle
        .short_title

        .author
          width: 200px

    .tipe
    .short_title
    .author
  .year
    font-size: 22px
    margin: 10px
    .month

