.content_wrapper
  width: 970px
  margin: 0 auto

.content
  +clearfix
  +min-height(300px)
  position: relative
  background: #fafaee url("../images/content_bg.png") repeat-x top
  margin: 0 5px
  padding: 20px 20px 0 20px

  table
    border-collapse: collapse
    thead th
      font-size: 14px
      background-color: #e5e5e5
    th
      font-weight: bold
      background-color: #f0f0f0
    th, td
      vertical-align: top
      border: 1px solid #ccc
      padding: 3px 5px
    p
      margin-bottom: 0
    .center
      text-align: center
    .left
      text-align: left
    .right
      text-align: right

  .specialities
    fieldset
      border: 1px solid #ccc
      padding: 10px 10px 0 10px
    legend
      +verdana_font_stack
      font-size: 16px
      font-weight: bold
    .name
      font-size: 14px
      font-weight: bold
      margin-bottom: 5px
    .qualification
      margin: 0 0 0 5px
    .additional
      font-size: 11px
      margin-left: 5px
    .empty
      color: #333
      background-color: #f6b4b4
      +border-radius(3px)
      padding: 1px 3px
    .curriculum
      margin: 5px 0

.auth_links
  +clearfix
  li
    float: left
    margin: 0 15px 0 0

.faculties
  margin-bottom: 0
  .line
    +clearfix
    margin-bottom: 0
    .faculty
      float: left
      +clearfix
      width: 20%
      margin-bottom: 0
      h1
        padding-left: 29px
        background-color: transparent
        background-repeat: no-repeat
        background-position: left
      &.rtf h1
        background-image: url("../images/faculty_rtf.png")
      &.rkf h1
        background-image: url("../images/faculty_rkf.png")
      &.fet h1
        background-image: url("../images/faculty_fet.png")
      &.fsu h1
        background-image: url("../images/faculty_fsu.png")
      &.fvs h1
        background-image: urlmain_page("../images/faculty_fvs.png")
      &.gf h1
        background-image: url("../images/faculty_gf.png")
      &.ef h1
        background-image: url("../images/faculty_ef.png")
      &.fit h1
        background-image: url("../images/faculty_fit.png")
      &.uf h1
        background-image: url("../images/faculty_uf.png")
      &.zivf h1
        background-image: url("../images/faculty_zivf.png")
      p
        float: left
        width: 55px

ul.protected_children
  margin-top: 10px

  ul.collection
    margin-left: 10px

    li
      list-style: circle
      margin-left: 10px
      margin-bottom: 0

.main_page
  img
    display: block
    margin-bottom: 20px

  ul
    +clearfix

    li
      +border-radius
      +linear-gradient(color-stops(#f2dabe, #eac496), top)
      background-color: #eecfaa
      float: left
      height: 80px
      margin: 0 10px 0 0
      padding: 15px 10px
      width: 280px

    .last
      margin-right: 0

  p
    margin-bottom: 0
    text-align: justify

  .greetings_text
    +border-radius
    background: #e0f2fc
    font-size: 14px
    line-height: 20px
    padding: 15px 10px

  a
    display: block

