.content_wrapper
  width: 970px
  margin: 0 auto


.content
  +clearfix
  +min-height(300px)
  background: #fafaee url("../images/content_bg.png") repeat-x top
  margin: 0 5px
  padding: 20px 20px 0 20px

.auth_links
  +clearfix
  li
    float: left
    margin: 0 15px 0 0

.faculties
  margin-bottom: 0
  .line
    +clearfix
    margin-bottom: 0
    .faculty
      float: left
      +clearfix
      width: 20%
      margin-bottom: 0
      h1
        padding-left: 29px
        background-color: transparent
        background-repeat: no-repeat
        background-position: left
      &.rtf h1
        background-image: url("../images/faculty_rtf.png")
      &.rkf h1
        background-image: url("../images/faculty_rkf.png")
      &.fet h1
        background-image: url("../images/faculty_fet.png")
      &.fsu h1
        background-image: url("../images/faculty_fsu.png")
      &.fvs h1
        background-image: url("../images/faculty_fvs.png")
      &.gf h1
        background-image: url("../images/faculty_gf.png")
      &.ef h1
        background-image: url("../images/faculty_ef.png")
      &.fit h1
        background-image: url("../images/faculty_fit.png")
      &.uf h1
        background-image: url("../images/faculty_uf.png")
      &.zivf h1
        background-image: url("../images/faculty_zivf.png")
      p
        float: left
        width: 55px
