.content_wrapper
  width: 970px
  margin: 0 auto

.content
  +clearfix
  +min-height(300px)
  background: #fafaee url("../images/content_bg.png") repeat-x top
  margin: 0 5px
  padding: 20px 20px 0 20px

  table
    border-collapse: collapse
    thead th
      font-size: 14px
      background-color: #e5e5e5
    th
      font-weight: bold
      background-color: #f0f0f0
    th, td
      vertical-align: top
      border: 1px solid #ccc
      padding: 3px 5px
    p
      margin-bottom: 0
    .center
      text-align: center
    .left
      text-align: left
    .right
      text-align: right

  table.specialities
    width: 100%
    .code
      width: 40px
    .curriculums
      width: 165px
    .qualification
      color: #777
      font-size: 11px
      margin-left: 5px
    .additional
      color: #777
      font-size: 10px
      margin-left: 5px
    .empty
      color: #333
      background-color: #f6b4b4
      +border-radius(3px)
      padding: 1px 3px
    .curriculum
      margin: 5px 0
      a
        +inline-block
        height: 16px
        padding-left: 21px
        &.published
          background: transparent url("../images/icon_curriculum_published.png") no-repeat left
        &.unpublished
          background: transparent url("../images/icon_curriculum_unpublished.png") no-repeat left

  .curriculums
    +clearfix
    li
      float: left
      margin: 0 15px 0 0
    a
      +inline-block
      height: 16px
      padding-left: 21px
      &.published
        background: transparent url("../images/icon_curriculum_published.png") no-repeat left
      &.unpublished
        background: transparent url("../images/icon_curriculum_unpublished.png") no-repeat left

  .curriculum_statistics
    float: right
    +border-radius(3px)
    padding: 15px 15px 0 15px
    background-color: #f4e1ca

    .resource_state_published
      +inline-block
      border: 1px solid #a5ff69
      +border-radius(3px)
      background-color: #ccffaa
      padding: 2px 3px

    .resource_state_unpublished
      +inline-block
      border: 1px solid #ffe169
      +border-radius(3px)
      background-color: #ffeeaa
      padding: 2px 3px

    .download
      +inline-block
      line-height: 16px
      text-transform: lowercase
      padding-left: 21px

      &.free
        background: transparent url("../images/icon_pdf_free.png") no-repeat left

      &.restricted
        background: transparent url("../images/icon_pdf_restricted.png") no-repeat left

  .curriculum_semesters
    +clearfix
    margin-bottom: 0
    li
      float: left
      width: 130px

.auth_links
  +clearfix
  li
    float: left
    margin: 0 15px 0 0

.faculties
  margin-bottom: 0
  .line
    +clearfix
    margin-bottom: 0
    .faculty
      float: left
      +clearfix
      width: 20%
      margin-bottom: 0
      h1
        padding-left: 29px
        background-color: transparent
        background-repeat: no-repeat
        background-position: left
      &.rtf h1
        background-image: url("../images/faculty_rtf.png")
      &.rkf h1
        background-image: url("../images/faculty_rkf.png")
      &.fet h1
        background-image: url("../images/faculty_fet.png")
      &.fsu h1
        background-image: url("../images/faculty_fsu.png")
      &.fvs h1
        background-image: url("../images/faculty_fvs.png")
      &.gf h1
        background-image: url("../images/faculty_gf.png")
      &.ef h1
        background-image: url("../images/faculty_ef.png")
      &.fit h1
        background-image: url("../images/faculty_fit.png")
      &.uf h1
        background-image: url("../images/faculty_uf.png")
      &.zivf h1
        background-image: url("../images/faculty_zivf.png")
      p
        float: left
        width: 55px

