=field-style
  +arial_font_stack
  border: 1px solid #999
  +border-radius(3px)
  background-color: #f5f5f5
  padding: 4px 3px
  &:focus
    border-color: #555
    background-color: #fff6d5

.content
  .formtastic
    .inputs
      margin-bottom: 0
      ol
        margin-bottom: 0
        abbr
          +inline-block
          cursor: help
          width: 6px
          height: 6px
          overflow: hidden
          text-indent: -9999em
          background: transparent url("../images/required.png") no-repeat
          margin: 0 0 3px 3px
        .date,
        .email,
        .password,
        .string
          label
            display: block
            margin-bottom: 5px
          input
            +field-style

        .enum,
        .select
          label
            display: block
            margin-bottom: 5px
          select
            +field-style

        .boolean
          input
            margin-right: 5px

        .inline-errors
          font-size: 11px
          color: #990000
          padding-left: 15px
          background: transparent url("../images/inline_error_arrow.png") no-repeat 0 1px
          margin: 2px 0 0 2px

    .pictorial
      border: 1px solid #ccc
      +border-radius(3px)
      padding: 15px 15px 0 15px
      margin-bottom: 15px
      legend
        font-size: 16px

    .buttons
      ol
        +clearfix
        margin-bottom: 0
      li
        float: left
        margin: 0 15px 0 0
        &.floatr
          float: right
          margin: 0 0 0 15px

    .clearfix
      +clearfix
      margin-bottom: 0
      fieldset
        float: left
      $three_width = 261px

      .speciality_common_info
        width: $three_width
        margin-right: 20px
      .speciality_licence
        width: $three_width
        margin-right: 20px
      .speciality_accreditation
        width: $three_width

