.content
  .formtastic
    .inputs
      margin-bottom: 0
      ol
        margin-bottom: 0
        abbr
          +inline-block
          //color: #990000
          //font-size: 22px
          cursor: help
          width: 6px
          height: 6px
          overflow: hidden
          text-indent: -9999em
          background: transparent url("../images/required.png") no-repeat
          margin: 0 0 3px 3px
        .email,
        .password
          label
            display: block
            margin-bottom: 5px

        .boolean
          input
            margin-right: 5px
    .buttons
      ol
        +clearfix
        margin-bottom: 0
      li
        float: left
        margin-bottom: 0
