.get_started
  +clearfix
  +border-radius
  background: #ffcdc0
  font-family: Verdana
  font-size: 12px
  padding: 10px

  ul
    +clearfix
    margin: 0

  .done
    span
      +inline-block
      width: 16px
      height: 16px
      text-indent: -9999em
      background: transparent url("../images/icon_done.png") no-repeat
    p, a
      color: #777

  li
    +clearfix
    float: left
    margin: 10px


    span
      font-size: 16px
      float: left
      margin-right: 5px

  p
    display: block
    margin: 0
    width: 280px

  .last
    margin-right: 0

