.header_wrapper
  background-color: rgba(235, 208, 203, 0.44)
  margin-bottom: 20px

=iconize($image)
  +inline-block
  line-height: 16px
  background: transparent url($image) no-repeat right
  padding-right: 21px
  margin-left: 3px

.header
  width: 970px
  margin: 0 auto
  +clearfix

  .tusur
    display: block
    width: 152px
    height: 31px
    float: left
    overflow: hidden
    text-indent: -9999em
    background: transparent url("../images/tusur.png") no-repeat
    margin: 15px 0

  .site_name
    float: left
    font-size: 25px
    font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif
    text-align: center
    text-transform: uppercase
    margin: 17px 0 0 110px
    a
      +single-text-shadow(#000, 1px, 2px, 3px)
      text-decoration: none
      color: #f4e1ca

  .dashboard
    float: right
    color: #999
    +background-image(linear-gradient(top, #f2dabe,#eac496))
    background-color: #eecfaa
    +border-bottom-left-radius
    +border-bottom-right-radius
    padding: 5px 10px 7px 10px

    .sign_up
      +iconize("../images/icon_sign_up.png")
      margin-right: 3px

    .sign_in
      +iconize("../images/icon_sign_in.png")

    .profile
      +iconize("../images/icon_sign_up.png")
      margin-right: 3px

    .sign_out
      +iconize("../images/icon_sign_out.png")

