.human_search
  +clearfix
  fieldset
    float: left
  .inputs
    margin-right: 10px
  .button
    font-size: 12px

#humans_list
  .human
    +clearfix

    a
      background: transparent url("../images/icon_edit.png") no-repeat
      display: block
      height: 16px
      text-indent: -9999px
      width: 16px

    div
      margin-bottom: 0

    .edit
      +clearfix
      margin-botton: 5px

    .full_name
      float: left
      font-size: 14px
      font-weight: bold
      margin-right: 10px

    .post
      float: left
      margin: 0 10px 0 5px

.employees_list
  margin-left: 10px
  .human
    margin: 10px 0
    .full_name
      +clearfix
      line-height: 14px
      font-weight: bold
      margin-bottom: 0

      input
        float: left
        margin: 0 5px 0 0

      .has_user
        font-size: 12px
        font-weight: normal

    ul
      font-size: 11px
      line-height: 12px
      margin-left: 20px
      li
        margin-bottom: 3px

.human
  margin: 10px 0
  .full_name
    +clearfix
    font-size: 14px
    font-weight: bold
    margin-bottom: 0

  .post
    margin-left: 5px

.human_wrapper
  float: left
  width: 790px

  .list
    .full_name
      font-size: 14px
      font-weight: bold
      margin-bottom: 0

    .roles
      +clearfix
      margin-left: 10px

      li
        margin-bottom: 0
        padding-left: 20px
        float: left
        clear: both

      .accepted
        background: transparent url("../images/icon_published.png") no-repeat

      .pending
        background: transparent url("../images/icon_unpublished.png") no-repeat

.human_facets.roles
  +clearfix
  display: block
  margin-bottom: 0

  li
    float: left
    margin-right: 10px

.human_facets.chairs
  +clearfix
  float: right

.human_facets
  .selected
    background: #dfeef9
    +border-radius

  li
    padding: 3px 3px

