.human_profile

  .label
    color: #777
    display: block
    float: left
    text-align: right
    width: 120px

  .content
    font-size: 13px
    font-weight: bold

  .individual_information, .login_information
    +clearfix
    border-right: 2px solid #ccc
    float: left
    margin-bottom: 0
    width: 300px

  .human, .user
    +clearfix
    margin: 0

  .user
    a
      +inline-block
      margin: 18px 0 0 20px

  .human
    a
      +inline-block
      margin: 32px 0 0 20px

  h1
    +clearfix

    span
      +clearfix
      font-size: 12px

      a
        +inline-block
        border-bottom: 1px dashed #326693
        font-size: 12px
        line-height: 15px

