#humans_list
  .human
    +clearfix

    a
      background: transparent url("../images/icon_edit.png") no-repeat
      display: block
      height: 16px
      text-indent: -9999px
      width: 16px

    p
      margin-bottom: 0

    .edit
      +clearfix
      margin-botton: 5px

    .full_name
      float: left
      font-size: 14px
      font-weight: bold
      margin-right: 10px

    .post
      float: left
      margin: 0 10px 0 5px

.employees_list
  margin-left: 10px
  .human
    margin: 10px 0
    .full_name
      +clearfix
      line-height: 14px
      font-weight: bold
      margin-bottom: 0

      input
        float: left
        margin: 0 5px 0 0

      .has_user
        font-weight: normal

    ul
      font-size: 10px
      line-height: 12px
      margin-left: 20px
      li
        margin-bottom: 3px
        .accepted
          +inline-block
          +border-radius
          background: #90ee90
          padding: 2px 3px

        .pending
          +inline-block
          +border-radius
          background: #ffc0cb
          padding: 2px 3px

