.main_menu
  +clearfix
  color: #fff
  +background-image(linear-gradient(top, #da5942,#c73b2c))
  background-color: #d04836
  +single-box-shadow(#000, 0, 3px, 10px)
  border: 1px solid #d45944
  padding: 5px

  li
    +inline-block
    font-size: 18px
    font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif
    line-height: 20px
    background: transparent url("../images/main_menu_item_bg.png") repeat-y right
    margin-left: 5px
    padding: 5px 10px 5px 0

  a
    color: #eee
    text-transform: uppercase
    +single-text-shadow(#333, 1px, 1px, 2px)
    padding-right: 21px
    background-color: transparent
    background-repeat: no-repeat
    background-position: right

    .decreased
      font-size: 12px
      font-weight: bold

    &.selected
      color: #fffb98
      +single-text-shadow(#333, 2px, 2px, 2px)

    &:hover
      color: #fff

  #training a
    background-image: url("../images/icon_training.png")
  #abstracts a
    background-image: url("../images/icon_rj.png")
  #science a
    background-image: url("../images/icon_science.png")
  #subfaculties a
    background-image: url("../images/icon_subfaculties.png")
  #specialities a
    background-image: url("../images/icon_ruby.png")
  #humans a
    background-image: url("../images/icon_humans.png")
  #library a
    background-image: url("../images/icon_library.png")
  #help a
    background-image: url("../images/icon_help.png")
  #licenses a
    background-image: url("../images/icon_license.png")

  .search_bar
    float: right
    position: relative
    +clearfix
    margin-top: 3px

    fieldset
      float: left

    li
      background-image: none
      padding: 0
      margin: 0

    #search_q
      +arial_font_stack
      border: 1px solid #333
      +border-radius(3px)
      padding: 4px 23px 4px 3px

      &:focus
        background-color: #fff6d5

    #search_submit
      top: 5px
      right: 4px
      width: 16px
      height: 16px
      cursor: pointer
      position: absolute
      border: 0
      background: transparent url("../images/icon_search_submit.png") no-repeat
      text-indent: -9999em
      padding: 0
      margin: 0

