.content
  .resource_action
    +clearfix
    li
      float: left
      margin: 0 10px 0 0

    .event_button_and_resource_state
      float: right
      margin-right: 0
      p
        font-size: 14px
        margin: 0 10px 0 0
        padding: 5px 10px

.publication_search
  +clearfix
  fieldset
    float: left
  .inputs
    margin-right: 10px
  .button
    font-size: 12px

.publications_list
  .publication
    font-size: 14px
    margin-bottom: 10px
    a
      font-weight: bold

      .authors, .year, .volume
        font-weight: normal

    .resource_link, .show_for
      margin-left: 10px

    .show_for
      margin-bottom: 0
      dl
        margin-bottom: 0

.publication

  .speciality_name
    font-size: 14px
    font-weight: bold

  .discipline_name
    font-weight: bold
    margin: 0 0 5px 10px

  .educations
    margin-left: 10px
    li
      margin-bottom: 5px

  .add
    background: transparent url("../images/icon_add.png") no-repeat
    height: 16px
    +inline-block
    overflow: hidden
    text-indent: -9999em
    width: 16px

  .edit
    background: transparent url("../images/icon_edit.png") no-repeat
    height: 16px
    +inline-block
    overflow: hidden
    text-indent: -9999em
    width: 16px
    margin-left: 5px

.publication.facets
  ul
    +clearfix
    margin-bottom: 0

    li
      float: left
      margin: 0 10px 0 0
      padding: 3px 3px

  .selected
    background: #dfeef9
    +border-radius

#publication_discipline_educations
  p
    font-size: 14px
  ul
    +clearfix
    li
      float: left
      margin: 0 10px 0 0
