.cool_list
  li
    +clearfix
    border: 1px solid #ddd
    background: #f3f2f1

  h4
    float: left
    width: 428px

  h4, h5
    line-height: 18px
    margin-bottom: 5px
    padding-left: 22px

  .specialities
    background: url("../images/speciality_icon.png") no-repeat left 2px

  .publications
    background: url("../images/publication_icon.png") no-repeat left 2px

  .human_icon
    background: url("../images/human_icon.png") no-repeat left 2px

  ul
    float: left
    margin: 0
    width: 450px

    &.wide
      width: 100%

    &.without_bullet
      li
        background: none
        padding: 0 0 0 15px

    li
      border: none
      background: url("../images/bullet_icon.png") no-repeat 10px 1px
      line-height: 18px
      margin: 5px 0
      padding: 0 0 0 30px

    .employee_icon
      background: url("../images/employee_icon.png") no-repeat 10px 1px
    .admin_icon
      background: url("../images/admin_icon.png") no-repeat 10px 1px
    .student_icon
      background: url("../images/student_icon.png") no-repeat 10px 1px
    .graduate_icon
      background: url("../images/graduate_icon.png") no-repeat 10px 1px

  p
    +clearfix

  .search_form
    +clearfix

    li
      border: none
      margin: 0
      padding: 0

    .inputs
      input
        width: 375px !important

    .buttons
      margin: 0

      li
        margin: 0

