.cool_list
  li
    +clearfix

  h4
    padding-left: 22px

  .specialities
    background: url("../images/speciality_icon.png") no-repeat left 2px

  .publications
    background: url("../images/publication_icon.png") no-repeat left 2px

  ul
    float: left
    width: 450px

    li
      background: url("../images/bullet_icon.png") no-repeat 10px 1px
      padding: 0 0 0 30px

  p
    display: block

