.content
  .resource_action
    +clearfix
    li
      float: left
      margin: 0 10px 0 0

    .event_button_and_resource_state
      float: right
      margin-right: 0
      p
        font-size: 14px
        margin: 0 10px 0 0
        padding: 5px 10px
