<div class='work_programm'>
  <%= link_to image_tag("icon_pdf_#{item.access}.png"),
                item.attachment.data.url,
                :title => item.human_access, :rel => "tipsy" %>
    <%= link_to item.title, manage_chair_work_programm_path(@chair, item) %>,
    <span><%= "#{item.authors_list}, " unless item.authors_list.blank? %></span>
    <span><%= item.year %></span>
</div>

