<%= form.buttons do %>
  <%= form.commit_button t(:save), :button_html => { :class => 'button' } %>
  <li>
    <%= link_to t(:cancel), smart_resource_url, :class => 'button light' %>
  </li>
  <% if form.object.persisted? %>
    <li class='floatr' >
      <%= link_to t(:delete), delete_resource_path, :class => 'button red' %>
    </li>
  <% end %>
<% end %>
