<div class="abstract">
<p><%= link_to t("#{resource_class.name.downcase}.add"),
  new_resource_path, :class => 'button' if can?(:new, resource_class) %></p>
  <% @disks.each_slice(5) do |row| %>
  <!-- <ul class="line"> -->
    <% row.each do |year, disks| %>

        </br><span class="year"><%= year %> </span> |
        <% disks.each do |disk| %>
          <span class="month">  <%= link_to disk.month, manage_disk_issues_path(disk) %> | </span>
          <%= disk.released_on %>
        <% end %>

    <% end %>
   <!--</ul> -->
  <% end %>

</div>

