domain:                   'localhost:3000'

students:
  host:                   'localhost:3333'

hoptoad:
  api_key:                SOME_HUGE_STRING
  host:                   errbit.com

mailer:
  send_notifications_to:   mail@openteam.ru
  send_notifications_from: no-reply@edu.tusur.ru
  send_all_mail_to:       mail@openteam.ru  # comment this string out if you want to really send mails to recipients

production:
  domain:                 edu.tusur.ru

