domain:                   portal.tusur.ru

students:
  host:                   'localhost:3000'

hoptoad:
  api_key:                SOME_HUGE_STRING
  host:                   errbit.com

mailer:
  send_notifcations_to:   mail@openteam.ru
  send_all_mail_to:       mail@openteam.ru  # comment this string out if you want really send mails to recipients
