<div class="human">
  <div class="full_name"><%= item.full_name %></div>
  <div class="edit"><%= link_to 'Редактировать', edit_manage_chair_employee_path(@chair, item) %></div>
  <div class="post"><%= item.accepted_employee_in_chair(@chair).post %></div>
</div>

