<div>
  <h2>Отправлена новая заявка</h2>
  <p>Пользователь <%= @role.human.user.full_name %> отправил заявку на роль <%= @role.title %></p>
  <p>Чтобы обработать заявку пройдите по ссылке на <%= link_to "профиль", manage_human_url(@role.human) %></p>
</div>

