<div>
  <h2>Отправлена новая заявка</h2>
  <p>Пользователь <%= @role.human.user.full_name %> отправил заявку на роль <%= @role.title %></p>
  <% @role.aasm_events_for_current_state.each do |event| %>

    <%#= link_to(t("role.#{event}"), transit_manage_role_path(@role,
                                            :event => event),
                                            :method => :put) %>

  <% end %>
</div>

