<ul>
<% @specialities.each do |speciality| %>
  <li><%= link_to speciality.name, [:manage, speciality.chair, speciality] %></li>
<% end %>
</ul>
<%= link_to 'new', new_manage_chair_speciality_path  %>

