<ul>
<% @specialities.each do |speciality| %>
  <li><%= link_to speciality.name, manage_speciality_path(speciality) %></li>
<% end %>
</ul>
<%= link_to t(:new), new_manage_chair_speciality_path(@chair) %>

