<p>Добрый день <%= @resource.email %>!</p>

<p>Вы отправили запрос на изменение пароля, изменить пароль Вы можете по ссылке:</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если Вы не отправляли запрос на измнение пароля - проигнорируйте это письмо.</p>
<p>Ваш пароль не будет изменен пока Вы не перейдете по ссылке.</p>

