<div class="human">
  <div class="full_name"><%= @employee.full_name %></div>
  <div class="post">
    <%= @employee.accepted_employee_in_chair(@chair).post %>
  </div>
</div>



<% show_for resource do | s | %>
  <% unless resource.protected_children.empty? %>
    С этим объектом связаны:
    <% resource.protected_children.each do |attribute| %>
      <% s.association attribute.to_sym do | object | %>
        <%= object.title %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

