<% if collection.any? %>
  <div id="<%= resource_class.name.downcase.pluralize %>_list">
    <% collection.each do |obj| %>
      <%= render :partial => "index_item", :locals => { :item => obj } %>
    <% end %>
  </div>
<% end %>

<%= will_paginate collection %>

<p><%= link_to t("#{resource_class.name.downcase}.add"), new_resource_path, :class => 'button' %></p>

