<ul class="cool_list">
<% @education.grouped_publications.each do |kind, publications| %>
  <li>
    <h5 class="publications"><%= Publication.human_enums[:kind][kind.to_sym] %></h5>
    <% unless publications.empty? %>
      <ul class="wide without_bullet">
        <% publications.each do |publication| %>
          <li class='publication'>
            <%= render :partial => "common/resource_link", :locals => {:resource => publication, :full_text => true} %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <ul>
        <li><%= "#{Publication.human_enums[:kind][kind.to_sym]} пока не добавлено."%></li>
      </ul>
    <% end %>
  </li>
<% end %>
</ul>

