<% content_for :main_menu do %>
  <div class='main_menu'>
    <%= render_navigation :level => 1, :context => 'manage' %>
  </div>
<% end %>
<% content_for :breadcrumbs do %>
  <div class='breadcrumbs'>
    <%= render_navigation :context => 'manage_breadcrumbs', :renderer => :breadcrumbs, :join_with => " <span class='black'>&rarr;</span> " %>
  </div>
<% end %>
<%= render :file => 'layouts/with_title' %>

