<%= render :file => "common/main_menu.html.erb" %>

<%= content_for :main_page do %>
  <div class="main_page">
    <img src="http://dummyimage.com/920x220/000/fff" width="920px" heigt="220px" />
    <ul>
      <li>
        <h4>Что это?</h4>
        <p>Научно-образовательный портал &mdash; это место, где Вы можете найти учебно-методическое обеспечение образовательного процесса.</p>
      </li>

      <li>
        <h4>Для кого?</h4>
        <p>Предназначен для студентов, магистрантов, аспирантов и других сотрудников ТУСУР.</p>
      </li>

      <li class="last">
        <h4>Помощь</h4>
        <a href="#">Как разместить публикацию?</a>
        <a href="#">Как разместить ученый план?</a>
        <a href="#">Как связаться с администрацией?</a>
      </li>
    </ul>
    <p class="greetings_text">Когда нубийский правитель Кашта добился у Шепенупет I, единокровной сестры фараона Такелота III, бывшей «Супругой Бога» (верховной жрицей Амона), признания его дочери Аменирдис I своей наследницей, это означало начало установления контроля Напаты над Египтом. Фараоны XXV (эфиопской) династии всячески демонстрировали своё почтение перед Амоном; после их изгнания из Фив перемещается и важнейший центр культа Амона. Он получил значительное распространение в Мероэ и Нобатии, также ставшими теократическими государствами, где ключевую роль в принятии политических решений играл оракул Амона.Вероятно, из Нубии же было заимствовано и ассоциирование этого бога с бараном, в частности, изображения Амона, изначально полностью антропоморфного божества (держащего анх человека в длинной короне), в виде человека с головой барана с закрученными рогами.</p>
  </div>
<% end %>

