<%= render :file => "common/main_menu.html.erb" %>
<% content_for :breadcrumbs do %>
  <div class="breadcrumbs">
    <%= render_navigation :context => "breadcrumbs", :renderer => :breadcrumbs, :join_with => " <span class='black'>&rarr;</span> " %>
  </div>
<% end %>
<%= render :file => 'layouts/base' %>

